:root {
    --main-color: #222224;
    --second-color: #292929;
}

body {
    background-color: var(--main-color);
    margin: 0;
}

#header {
    position: relative;
    background: linear-gradient(to right, rgb(0, 0, 255), rgb(46, 174, 255));
    width: 100%;
    height: 200px;
    z-index: 10;
}

#header #header__text {
    position: absolute;
    font-size: 36px;
    font-family: "Verdana";
    font-weight: bold;
    color: white;
    left: 80px;
    top: 70px;
}

#header #header__background {
    position: absolute;
    background: linear-gradient(to right, rgb(35, 134, 255), rgba(35, 134, 255, 0));
    width: 200px;
    height: 200px;
    top: 0;
    right: 230px;
    z-index: 12;
}

#header #header__background-image {
    position: absolute;
    background-image: url("/assets/bikini_bottom.png");
    width: 430px;
    height: 200px;
    top: 0;
    right: 0;
    z-index: 11;
}

#content-wrapper { margin: 10px; }

#leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.entry {
    position: relative;
    background-color: var(--second-color);
    padding: 5px;
    margin-bottom: 10px;
    width: 65%;
    height: 75px;
    box-shadow: 0px 2px 5px 1px rgba(255,255,255,0.1);
    z-index: 1;
}

.entry.highlighted {
    background-color: #777777;
    box-shadow: 0px 2px 5px 1px rgba(255,255,255,0.5);
}

.entry * {
    font-family: "Verdana";
    color: white;
}

.entry .rank {
    position: relative;
    display: flex;
    justify-content: center;
    float: left;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    width: 50px;
    left: 20px;
    top: 15px;
}

.entry._1 { box-shadow: 0px 2px 5px 1px rgba(255,215,0,0.5); } /* 1st place color */
.entry._2 { box-shadow: 0px 2px 5px 1px rgba(192,192,192,0.5); } /* 2nd place color */
.entry._3 { box-shadow: 0px 2px 5px 1px rgba(139,69,19,0.5); } /* 3rd place color */
.entry .rank._1 { color: #ffd700; } /* 1st place color */
.entry .rank._2 { color: #c0c0c0; } /* 2nd place color */
.entry .rank._3 { color: #8b4513; } /* 3rd place color */

.entry .user_avatar {
    position: relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    left: 50px;
    top: 3px;
}

.entry .user_username {
    position: absolute;
    overflow: hidden;
    font-size: 20px;
    width: 500px;
    left: 190px;
    top: 30px;
}

#entry-left__block {
    position: relative;
    display: flex;
    float: right;
    justify-content: space-evenly;
    width: 50%;
}

#user_points__block, #user_level__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 10px;
    top: 12px;
}

#progress_bar__block {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 200px;
    height: 50px;
    top: 12px;
}

#complete-bar {
    position: absolute;
    float: left;
    background: var(--main-color);
    border: 1px solid white;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    z-index: 4;
}

#percentage-bar {
    position: absolute;
    float: left;
    background: #4778ff;
    border-radius: 3px;
    height: 50px;
    top: 1px;
    left: 1px;
    z-index: 5;
}

#progress_percentage {
    position: relative;
    font-size: 30px;
    margin-right: 20px;
    top: 20px;
}

.entry .points_text, .entry .level_text {
    position: relative;
    font-size: 15px;
}

.entry .user_points, .entry .user_level {
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

#loading {
    display: flex;
    justify-content: center;
    width: 100%;
}

#error_message {
    position: fixed;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--second-color);
    border: 3px solid #d90000;
    border-radius: 8px;
    font-family: "Verdana";
    font-size: 20px;
    color: #d90000;
    padding: 15px;
    width: 20%;
    height: auto;
    left: 40%;
    top: 50px;
    z-index: 100;
    box-shadow: 0px 2px 5px 1px rgba(255, 0, 0, 0.5);
}

#error_message__header {
    position: absolute;
    border-bottom: 2px solid #d90000;
    font-weight: bold;
    width: 95%;
}

#error_message__message {
    position: relative;
    margin-top: 30px;
}

@media (max-device-width: 1500px) {
    #header {
        background: rgb(0, 0, 255) !important;
    }

    #header__background {
        background: linear-gradient(to right, rgb(0, 0, 255), rgba(0, 0, 255, 0)) !important;
        right: 232px!important;
    }

    #header__text {
        font-size: 20px !important;
        top: 85px !important;
    }
    .entry {
        width: 99% !important;
    }

    .entry .user_username{
        font-size: 15px !important;
    }

    #progress_bar__block, #progress_percentage {
        display: none !important;
    }

    #entry_left__block {
        justify-content: flex-end !important;
    }
}